body {
  font-family: 'Nunito Sans', sans-serif;
  margin: 0 10%;
}

.container {
  border: 2px solid #a2a2a6;
  padding: 10px;
  margin: 10px auto;
}

.container-color {
  width: 100%;
}

.color-panel {
  display: inline-block;
  width: 32%;
  text-align: center;
  margin: 20px auto;
  min-height: 100px;
}

.color1 {
  background-color: #133336;
  color: #fff;
}
.color2 {
  background-color: #339933;
  color: #000;
}

.color3 {
  background-color: #4bec13;
}

.color4 {
  background-color: #006699;
}

.fonts {
  display: inline-block;
}

.regular {
  font-style: normal;
}

.italic {
  font-style: italic;
}

.bold {
  font-weight: 700;
}

.Itim {
  font-family: Itim;
}

.Roboto {
 font-family: Roboto;
}

.Girassol {
 font-family: Girassol;
}

.Itim1 {
  font-size: 20px;
  text-decoration: underline;
}

.Roboto1 {
  font-size: 20px;
  text-decoration: underline;
}

.Girassol1 {
  font-size: 20px;
  text-decoration: underline;
}

.h11 {
  text-align: center;
}

.h22 {
 text-align: center;
}

.p1 {
 text-align: center;
}
